@import 'https://fonts.googleapis.com/css?family=Open+Sans';

#pieChart {
    margin:0;
    flex-grow: 7;
    padding: 0;
}


#pie-des-1{
    font-family: 'Open Sans';
    font-size: 15px;
    color: white;
    flex-grow: 5;
    width: 20%;
    margin-top: 10%;
}
