#table-0 {
    width: 12%;
    font-family: 'Open Sans';
    color: #fdb462;
    background-color: #8993c7 ;
    border: solid 2px #8993c7 ;
    margin-top: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    padding-right: 10px;
    right: 2%;
    overflow: auto;
}
#table-1{
    width: 12%;
    font-family: 'Open Sans';
    color: #8993c7;
    background-color: #fdb462 ;
    border: solid 2px #fdb462 ;
    margin-top: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    padding-right: 10px;
    right: 14%;
    overflow: auto;
}
#table-2 {
    width: 12%;
    font-family: 'Open Sans';
    color: #fdb462;
    background-color:#6FB07F;
    border: solid 2px #6FB07F ;
    margin-top: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 26%;
    padding-right: 10px;
    overflow: auto;
}
th{
    font-size: small;
    margin-left: 10px;
    border: dashed 1px white;
}