html,
body {
    position: fixed;
    left: 0;
    top: 0;
    right: -30px;
    bottom: 0;
    padding: 8px;
    padding-right: 20px;
    background-color: #2B313B;
    overflow-y: scroll;
}

#verticalBarChart {
    flex-grow: 4;
    margin: 0;
    padding: 0;
}

#verticalBarText {
    font-family: 'Open Sans';
    font-size: 15px;
    color: white;
    flex-grow: 5;
    width: 10%;
    margin-top: 10%;
}

.zc-ref {
    display: none;
}